<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ContactBook - új kapcsolat</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <h1>Új kapcsolat felvétele:</h1>

    <form action="/new" data-th-action="@{/new}" data-th-object="${newContact}" method="post">
        <div data-th-if="${#fields.hasErrors()}" class="alert alert-danger">
            <ul>
                <li data-th-each="err : ${#fields.errors()}" data-th-text="${err}">Hiba üzenet</li>
            </ul>
        </div>

        <label for="contactName">Neve:</label>
        <input id="contactName" name="name" data-th-field="*{name}" type="text">

        <label for="contactEmail">Email:</label>
        <input id="contactEmail" name="email" data-th-field="*{email}" type="email">

        <label for="contactTel">Telefon:</label>
        <input id="contactTel" name="tel" data-th-field="*{tel}" type="text">

        <input id="saveButton" type="submit" value="Mentés">
    </form>

    <a href="/home" data-th-href="@{/home}">
        <button>Vissza</button>
    </a>

</body>
</html>